@{
    ViewBag.Title = "Contact";
}

<div class="mainbody">
  <div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <address>
      1 Kent Avenue<br />
      Sandton, Johannesburg<br />
      South Africa<br />
    </address>

    <address>

      <strong>Phone:    </strong>    011 605 2344<br />
      <strong>Support:  </strong>   <a href="mailto:intentional2018@gmail.com">info@instabuy.com</a><br />
      <strong>Marketing:</strong>   <a href="mailto:intentional2018@gmail.com">marketing@instabuy.com</a>
    </address>
  </div>
</div>