@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Insta Buy</h1>
    <p class="lead">Describing a product, that is so awesome, you want to buy it the instant you see it.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clothing</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Shoes</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Accessories</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="menu-items">
  <h1 class="title">Blue Light Confence Center</h1>
  <div class="menu-item study1">
    <figure>
      <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
    </figure>
    <div class="menu-item__overlay">
      <h2 class="menu-item__title">Developing Hexxis</h2>
      <a class="menu-item__link" href="#">View Case Study</a>
    </div>
  </div>

  <div class="menu-item study2">
    <figure>
      <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
    </figure>
    <div class="menu-item__overlay">
      <h2 class="menu-item__title">Developing Hexxis</h2>
      <a class="menu-item__link" href="#">View Case Study</a>
    </div>
  </div>

  <div class="menu-item study3">
    <figure>
      <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
    </figure>
    <div class="menu-item__overlay">
      <h2 class="menu-item__title">Developing Hexxis</h2>
      <a class="menu-item__link" href="#">View Case Study</a>
    </div>
  </div>

  <div class="menu-item study4">
    <figure>
      <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
    </figure>
    <div class="menu-item__overlay">
      <h2 class="menu-item__title">Developing Hexxis</h2>
      <a class="menu-item__link" href="#">View Case Study</a>
    </div>
  </div>

  <div class="menu-item study5">
    <figure>
      <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
    </figure>
    <div class="menu-item__overlay">
      <h2 class="menu-item__title">Developing Hexxis</h2>
      <a class="menu-item__link" href="#">View Case Study</a>
    </div>
  </div>

  <div class="menu-item study6">
    <figure>
      <img class="menu-item__img" src="https://static.squarespace.com/static/51b79838e4b0b8b55c75cf91/t/51c4b688e4b03003ea9f1a63/1371846281755/Hexxis+Logo+White.png" alt="" />
    </figure>
    <div class="menu-item__overlay">
      <h2 class="menu-item__title">Developing Hexxis</h2>
      <a class="menu-item__link" href="#">View Case Study</a>
    </div>
  </div>
