@{
    ViewBag.Title = "Home Page";
}
<app-root>test</app-root>
<div class="mainbody">
  <div class="jumbotron">
    <h1>Insta Buy</h1>
    <p class="lead">Describing a product, that is so awesome, you want to buy it the instant you see it.</p>
  </div>


  <div class="menu-items">
    <div class="menu-item item1">
      <figure>
        <img class="menu-item__img" src="" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Clothing</h2>
        <a class="menu-item__link" href="#">Shop</a>
      </div>
    </div>

    <div class="menu-item item2">
      <figure>
        <img class="menu-item__img" src="" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Shoes</h2>
        <a class="menu-item__link" href="#">Shop</a>
      </div>
    </div>

    <div class="menu-item item3">
      <figure>
        <img class="menu-item__img" src="" alt="" />
      </figure>
      <div class="menu-item__overlay">
        <h2 class="menu-item__title">Accessories</h2>
        <a class="menu-item__link" href="#">Shop</a>
      </div>
    </div>
  </div>
</div>
